<% title "Customers" %>

<div class="page_actions">
    <%= link_to ("#{t(:new_customer)}" + '<i class="icon-plus22 position-right"></i>').html_safe, naturesoft_customers.new_admin_customer_path, class: 'btn btn-primary' %>
</div>
<br />
<form class="listing-form">
  
  <div class="panel panel-flat border-top-primary">
      <div class="panel-body filter-box">                
          <div class="row">
              <div class="col-md-2">
                  <div class="form-group">
                      <label><%= t(:sort_by) %></label>
                      <%= select_tag(:sort_by, options_for_select(Naturesoft::Customers::Customer.sort_by, :selected => params[:sort_by]), class: "select2") %>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group">
                      <label><%= t(:sort_order) %></label>
                      <%= select_tag(:sort_orders, options_for_select(Naturesoft::Customers::Customer.sort_orders, :selected => params[:sort_orders]), class: "select2") %>
                  </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label><%= t(:status) %></label>
                      <%= select_tag(:status, options_for_select(Naturesoft::Customers::Customer.status, :selected => params[:status]), class: "select2") %>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label><%= t(:country) %></label>
                      <%= select_tag(:status, options_for_select([["Viet Nam",1],["Canada",2]]), class: "select2") %>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label><%= t(:area) %></label>
                      <%= select_tag(:status, options_for_select([["Ha Noi",1],["Da Nang",2],["Ho Chi Minh",3]]), class: "select2") %>
                </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group has-feedback">
                      <label><%= t(:search) %></label>
                      <input type="text" name="keyword" class="form-control" placeholder="Enter search..." value="<%= params[:keyword] %>">
                      <div class="form-control-feedback">
                          <i class="icon-search4 text-size-base"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <!-- Basic datatable -->
  <div class="panel panel-flat">
    <div class="table-container">
      <table class="table table-striped">
        <thead>
          <tr class="bg-teal-800">
              <th><%= t(:full_name) %></th>
              <th><%= t(:phone) %></th>
              <th><%= t(:email) %></th>
              <th><%= t(:address) %></th>
              <th><%= t(:created_at) %></th>
              <th><%= t(:status) %></th>
              <th class="text-right"><%= t(:actions) %></th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td class="kq_search">
                <strong><%= link_to(truncate(customer.full_name, length: 20), naturesoft_customers.edit_admin_customer_path(customer),{title: "#{customer.full_name}"}) %></strong>
              </td>
              <td class="kq_search">
                <%= customer.phone %>
              </td>
              <td class="kq_search">
                <%= truncate(customer.email, length: 25) %>
              </td>
							<td class="kq_search">
                <%= truncate(customer.address, length: 25) %>
              </td>
              <td><%= customer.created_at.strftime("%d/%m/%Y") %></td>
							<td></td>
              <td class="text-right">
                <div class="btn-group">
									<%= link_to '<i class="icon-point-right"></i>'.html_safe, naturesoft_customers.admin_customer_path(customer), class: "btn bg-teal-400 btn-icon", title: "View detail" %>
                  <button type="button" class="btn bg-teal-400 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
										<li>
											<%= link_to '<i class="icon-pencil"></i>'.html_safe + t(:edit), naturesoft_customers.edit_admin_customer_path(customer), title: "Edit Customer" %>
										</li>
										<li class="divider"></li>
										<li>
											<%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe + t(:delete), naturesoft_customers.admin_customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' } , class: "backend_delete_item" %>
										</li>
									</ul>
								</div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="dataTables_wrapper no-footer">
        <div class="datatable-footer showed">
            <div class="dataTables_info" ><%= page_entries_info @customers %></div>
            <div class="dataTables_paginate paging_simple_numbers">
              <%= will_paginate @customers, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
            </div>
        </div>
      </div>
    
    </div>
  </div>
  <!-- /basic datatable -->
</form>